.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  &.-modal {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &.-detail {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.modal-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > .modal {
    background-color: #eeeeee;
    padding: 24px;
    border-radius: 16px;
  }
}

.modal-links {
  display: flex;
  justify-content: space-between;

  > .back {
    padding: 20px;
  }

  > .close {
    display: flex;
    align-items: center;
    padding: 24px 20px 20px;
  }
}

#back-link {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
