.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 24px;
  background-color: #262626;

  > .content {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    > .action {
      color: #fff;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }
}

.header-title {
  font-size: 24px;
  color: #fff;
  border-bottom: 2px solid #666666;
}

.modal-btn {
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;

  > .coming {
    color: #fff;
    font-size: 12px;
  }

  > .user {
    color: #fff;
    font-size: 16px;
  }
}
