.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 24px;
}

.header-title {
  font-size: 24px;
  border-bottom: 2px solid #666666;
}

.modal-btn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  &.-modal {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &.-detail {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
